<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>
<body>
    <div>
        <div>
            <partial name="RegisterPartial"/>
        </div>
        <div>
            <partial name="LoginPartial"/>
        </div>
    </div>

</body>
</html>